main {
    padding-inline: 30px;
    display: grid;
    grid-template-columns: 1fr 440px;
    column-gap: 20px;
    padding-block: 30px;
}

.lg-txt h1 {
    color: blue;
    font-size: 2.5rem;
}

.p-academ {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    margin-block: 20px;
}

.grey-txt {
    margin-block: 20px;
    color: grey;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 35px;
}

.wholeimg {
    width: 100%;
}

.grey-bk {
    background-color: rgba(128, 128, 128, 0.459);
    padding: 20px;
}

.ls-ttl {
    font-weight: 600;
}

ul li {
    list-style-position: inside;
}

.clicker-title {
    font-weight: 600;
    font-size: 1.4rem;
    color: blue;
}

.downloader {
    padding-top: 20px;
}

.click-txt {
    margin-bottom: 40px;
}
.txt-cent {
    text-align: center;
}

.dl-btn {
    text-align: center;
    padding: 15px 20px;
    border: 1px solid blue;
    margin-top: 60px;
    font-weight: 600;
    text-decoration: none;
}
